header{
    padding: 20px;
    border-bottom: 1px solid rgb(134, 134, 134) ;
    background-color: #010409;
    
}
.logoName{
    font-family: monospace;
    text-align: center;
    font-size: 2em;
    color: rgb(224, 224, 224);
}
.containerSearch{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerSearch>div{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
input{
    padding: 15px;
    font-size: 1.2rem;
    width: 600px;
    font-family: monospace;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.103);
    background-color: #010409;
    color:rgb(224, 224, 224) ;
    outline: none;
    transition: 0.8s;
}

input:hover{
    padding: 18px;
    color: #010409;
    background-color: rgb(224, 224, 224);
}
.searchBtn{
    margin-top: 20px;
    padding: 10px;
    width: 600px;
    font-size: 1.2rem;
    font-family: monospace;
    font-weight: bolder;
    border-radius: 10px;
    border: none;
    background-color: rgb(224, 224, 224);
    color:#010409;
    outline: none;
    transition: 0.8s;
    cursor: pointer;
}

@media (max-width: 450px){
   .searchBtn{
    width: 95%;
   }
   input{
    width: 95%;
   }
}